<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Detail</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="main-detail">
            <div class="detail">
                <div class="film-image">
                    <img src="<%= film.image %>" alt="">
                </div>
                <div class="film-info-detail">
                    <h2><%= film.title_rus %>(<%= film.year %>)</h2>
                    <p><%= film.title_eng %></p>
                    <% if(user.toWatch && user.toWatch.includes(film._id)){ %>
                        <button class="film-btn" onclick="deleteFromToWatch('<%= film._id %>')">
                            <img src="/images/icons/saved.webp" alt="">
                            Сохранено
                        </button>
                    <% }else{ %>
                        <button class="film-btn" onclick="saveToWatch('<%= film._id %>')">
                            <img src="/images/icons/save.svg" alt="">
                            Буду смотреть
                        </button>
                    <% } %>
                    <h4>О фильма</h4>
                    <div class="film-details">
                        <p>Год производства</p>
                        <p><%= film.year %></p>
                    </div>
                    <div class="film-details">
                        <p>Страна производства</p>
                        <p><%= film.country.name %></p>
                    </div>
                    <div class="film-details">
                        <p>Жанр</p>
                        <p><%= film.genre.name %></p>
                    </div>
                    <div class="film-details">
                        <p>Время</p>
                        <p><%= film.time %> мин</p>
                    </div>
                    <div class="film-details">
                        <p>Рейтинг</p>
                        <p><%= averageRate %></p>
                    </div>
                </div>
            </div>
            <% if(film.video){ %>
            <div class="film-player">
                <iframe width="560" height="315" src="<%= film.video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <% }else if(film.series.length > 0){ 
                film.series.forEach((s, i) => { %>
                    <div class="film-player">
                        <p><%=i+1%> серия</p>
                        <iframe width="560" height="315" src="<%= s %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
            <% })
            } %>
            <div class="comments">
                <h3>Комментарий</h3>
                <% if(user && user._id){ %>
                <form class="add-comment-form" onsubmit="sendRate(event)">
                    <p>Оцените фильм</p>
                    <div class="comment-stars">
                        <img src="/images/icons/star.svg" onclick="rateFilm(1)" alt="">
                        <img src="/images/icons/star.svg" onclick="rateFilm(2)" alt="">
                        <img src="/images/icons/star.svg" onclick="rateFilm(3)" alt="">
                        <img src="/images/icons/star.svg" onclick="rateFilm(4)" alt="">
                        <img src="/images/icons/star.svg" onclick="rateFilm(5)" alt="">
                    </div>
                    <p>Напишите комментарий
                    </p>
                    <textarea id="comment-text"></textarea>
                    <input type="hidden" value="<%=user._id%>" id="comment_author">
                    <input type="hidden" value="<%=film._id%>" id="comment_film">
                    <button type="submit">Сохранить</button>
                </form>
                <% }else{ %>
                    <a href="/login">Войдите</a>
                    или 
                    <a href="/register">зарегистрируйтесь</a>
                    чтобы оставить комментарий
                <% } %>
                <% 
                    if(rates){ 
                        rates.forEach(rate => { 
                %>

                    <div class="comment">
                        <p>Автор: 
                            <a href=""><%=rate.authorId.full_name%></a>
                        </p>
                        <div class="comment-stars">
                            <%
                                for(let i = 1; i < 6; i++){
                                   if(i <= rate.rate) { %>
                                        <img class="active-star" src="/images/icons/star.svg" alt="">
                            <%       }
                                   else{ %>
                                        <img src="/images/icons/star.svg" alt="">
                            <%       }
                                }
                            %>
                        </div>
                        <% if(rate.text && rate.text.length > 0){ %>
                            <p>Комментарий: <%= rate.text %></p>
                        <% } %>
                    </div>                        
                <%   
                        }) 
                    } 
                %>
            </div>
        </div>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>