<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>New</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <div class="container">
        <div class="main">
            <form action="/api/film/new" method="POST" class="form" enctype="multipart/form-data">
                <h3>Новый фильм</h3>
                <fieldset class="fieldset">
                    <label for="">Картинка фильма</label>
                    <input type="file" name="image">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="">Название фильма на русском</label>
                    <input type="text" placeholder="Введите название фильма на русском" name="title_rus">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="">Название фильма на английском</label>
                    <input type="text" placeholder="Введите название фильма на английском" name="title_eng">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="">Год выпуска</label>
                    <input type="text" placeholder="Введите год выпуска фильма" name="year">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="">Длительность фильма</label>
                    <input type="text" placeholder="Введите длительность фильма" name="time">
                </fieldset>
                <fieldset class="fieldset">
                    <label for="">Страна выпуска</label>
                    <select name="country">
                        <% countries.forEach(country => { %>
                            <option value="<%= country._id %>"><%= country.name %></option>
                        <% }) %>
                    </select>
                </fieldset>
                <fieldset class="fieldset">
                    <label for="">Жанры</label>
                    <select name="genre">
                        <% genres.forEach(genre => { %>
                            <option value="<%= genre._id %>"><%= genre.name %></option>
                        <% }) %>
                    </select>
                </fieldset>
                <a class="add-series-btn" id="addSeriesBtn" onclick="addSeries()">Добавить серии</a>
                <a class="add-series-btn" id="addFilmUrlBtn" onclick="addFilmUrl()">Добавить ссылку на фильм</a>
                <div id="urls"></div>

                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
    <%- include('./partials/script.ejs') %>

</body>
</html>