<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Profile</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="main">
            <div class="categories">
                <h3>Жанры</h3>
                <% genres.forEach(genre => {  %>
                    <a href="?genre=<%=genre.key%>" class="<%= genre.key == locals.genre ? 'current-genre' : '' %>"
                        ><%=genre.name%>
                    </a>
                <% }) %>
            </div>
            <div class="main-content">
                <h3>Профиль</h3>
                <div class="profile">
                    <div class="profile-img">
                        <img src="/images/profile-photo.jpg" alt="">
                    </div>
                    <div class="profile-info">
                        <p><span>Полное имя: </span><%=owner.full_name%></p>
                        <p><span>E-mail: </span><%=owner.email%></p>
                        <%
                            if(owner.id == user.id){
                        %>
                        <a class="edit-btn">Редактировать профиль</a>
                        <a href="/api/signout" class="logout-btn">Выход</a>
                        <%
                            }
                        %>
                    </div>
                </div>
                <h3>Сохраненные Фильмы</h3>
                <% 
                    if(owner.toWatch.length > 0){
                        owner.toWatch.forEach(film => {
                %>
                <div class="main-card">
                    <div class="card-left">
                        <div class="film-img">
                            <img src="<%= film.image %>" alt="">
                        </div>
                        <div class="film-info">
                            <a href="/detail/<%=film._id%>"><%= film.title_rus %></a>
                            <a href="/detail/<%=film._id%>"><%= film.title_eng %>, <%= film.year %>, <%= film.time %> min</a>
                            <a href="/detail/<%=film._id%>"><%= film.country.name %>, <%= film.genre.name %></a>
                            <button class="film-btn">
                                <img src="/images/icons/play.svg" alt="">
                                Смотреть
                            </button>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="film-rate">
                            <p><%= rates.find(rate => rate.id == film.id).rate %></p>
                        </div>
                        <button class="film-btn" onclick="deleteFromToWatch('<%= film._id %>')">
                            <img src="/images/icons/saved.webp" alt="">
                            Буду смотреть
                        </button>
                    </div>
                </div>
                <%
                        })
                    }
                %>
                <div class="pages">
                <% 
                    let localString = ''
                    if(locals.genre){
                        localString = `genre=${locals.genre}&`
                    }
                    for(let i = 0; i < pages; i++){ 
                %>
                        <a href="?<%=localString%>page=<%=i%>" class="<%= i == locals.page ? 'current-page' : '' %>"><%=i + 1%></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/script.ejs') %>

</body>
</html>